<div class="container">
  <div class="row">
    <a class ="btn btn-primary" routerLink="/admin">Back to List</a>
  </div>
  
  <div class=form-group>
    <label>BUYER NAME</label>
    <div>{{bikeReg.name}}</div>
  </div>
  <div class=form-group>
      <label>EMAIL</label>
      <div >{{bikeReg.email}}</div>
    </div>
 <div class=form-group>
    <label>PHONE</label>
    <div >{{bikeReg.phone}}</div>
  </div> 
  <div class=form-group>
    <label>BIKE MODEL </label>
    <div >{{bikeReg.model}}</div>
  </div> 
  <div class=form-group>
    <label>BIKE  SERIAL NUMBER</label>
    <div >{{bikeReg.serialNumber}}</div>
  </div> 
  <div class=form-group>
    <label>PURCHASE PRICE</label>
    <div >{{bikeReg.purchasePrice}}</div>
  </div>
  <div class=form-group>
    <label>PURCHASE DATE</label>
    <div>{{bikeReg.purchaseDate}}</div>
  
</div>